/* partials */
footer {
  grid-column: 1 / 2;
  background-color: black;
  color: white;
  text-align: center;
  flex-shrink: 0;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }

.footer-index {
  grid-column: 1 / 4;
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center; }

.foot {
  color: white; }

.header {
  background-color: #48639c;
  color: white;
  text-align: center;
  padding: 10px; }

.sidebar {
  grid-column: 1 /  2;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto; }
  .sidebar .sidebar-logo {
    background: #faf8f0 url(../images/logo.PNG) no-repeat 55% 100%;
    padding: 15px;
    padding-left: 0px;
    height: 122px;
    text-align: center; }
  .sidebar .logo a {
    color: white;
    text-align: center; }
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none; }
  .sidebar a.active {
    background-color: #9f58a3;
    color: white; }
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white; }

@media screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto; }
  .sidebar {
    display: none; }
  .content {
    grid-column: 1 / 2;
    height: 100%; }
  .footer-index {
    grid-column: 1 / 2;
    background-color: black;
    color: white;
    text-align: center;
    flex-shrink: 0;
    padding: 10px; }
  .cubo {
    display: none; }
  .cubo-sm {
    margin-top: 55px;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: rotar 15s infinite linear; }
  .index-image-sm {
    height: 150px; }
  .cara-base, #cara1, #cara2, #cara3, #cara4, #cara5, #cara6 {
    position: absolute;
    height: 100%;
    width: 100%; }
  #cara1 {
    transform: translateZ(-150px); }
  #cara2 {
    transform: translateZ(150px); }
  #cara3 {
    transform: translateX(150px) rotateY(90deg); }
  #cara4 {
    transform: translateX(-150px) rotateY(90deg); }
  #cara5 {
    transform: translateY(100px) rotateX(90deg); }
  #cara6 {
    transform: translateY(-100px) rotateX(90deg); } }

@media screen and (min-width: 768px) {
  .content {
    grid-column: 2 / 4;
    height: 1000px; }
  .grid-container {
    display: grid;
    grid-template-columns: 20% auto; }
  .cubo-sm {
    display: none; }
  .cubo {
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: rotar 15s infinite linear; }
  .cara-base-sm, #cara1, #cara2, #cara3, #cara4, #cara5, #cara6 {
    position: absolute;
    height: 100%;
    width: 100%; }
  #cara1 {
    transform: translateZ(-350px); }
  #cara2 {
    transform: translateZ(350px); }
  #cara3 {
    transform: translateX(350px) rotateY(90deg); }
  #cara4 {
    transform: translateX(-350px) rotateY(90deg); }
  #cara5 {
    transform: translateY(100px) rotateX(90deg); }
  #cara6 {
    transform: translateY(-100px) rotateX(90deg); } }

@keyframes rotar {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }

.body {
  text-align: center;
  height: 50%; }

.top-menu {
  padding: 40px; }
  .top-menu-item {
    color: #9f58a3;
    text-decoration: none; }
  .top-menu-item-login {
    background-color: white;
    border-radius: 15px;
    border-color: blueviolet;
    color: blueviolet;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif; }
  .top-menu-item-signup {
    background-color: blueviolet;
    border-radius: 15px;
    border-color: blueviolet;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif; }

.nav-link-color {
  color: #9f58a3 !important; }

.active {
  font-weight: bold; }

.left-menu-button {
  margin: 0 !important;
  float: left; }

.log-in {
  margin: 0;
  margin-right: -15px;
  float: right !important; }

.index-image {
  width: 700px;
  border: 15px;
  padding: 20px;
  margin: 20px; }

.toggler-color {
  background-color: #9f58a3 !important; }

.index-bottom-text {
  font-size: large;
  font-style: italic;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px; }

#contact-form {
  width: 280px;
  margin: 0 auto;
  background-color: blueviolet;
  padding: 20px 50px 40px;
  box-shadow: 1px 4px 10px 1px #aaa;
  font-family: sans-serif; }
  #contact-form input {
    margin-bottom: 15px; }
  #contact-form input[type=text] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3; }
  #contact-form input[type=email] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3; }
  #contact-form h2 {
    text-align: center;
    margin-bottom: 30px;
    color: white; }
  #contact-form button[type=submit] {
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;
    background: #207cca;
    /* Old browsers */
    background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #207cca 0%, #9f58a3 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #207cca 0%, #9f58a3 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 );
    /* IE6-9 */ }

footer {
  grid-column: 1 / 2;
  background-color: black;
  color: white;
  text-align: center;
  flex-shrink: 0;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }

.footer-index {
  grid-column: 1 / 4;
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center; }

.foot {
  color: white; }

.header {
  background-color: #48639c;
  color: white;
  text-align: center;
  padding: 10px; }

.main-container {
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 70px; }

.title-aboutus {
  text-align: left;
  background: url(../images/home10.jpg) no-repeat;
  height: 100px;
  padding: 20px;
  font-size: 50px;
  color: black; }

.au-text {
  margin-left: 5%;
  margin-right: 5%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  line-height: 1.8; }

.carousel-item-color {
  color: white; }

.toggler-color {
  background-color: #9f58a3 !important; }

.card {
  transition: all 0.2s ease;
  cursor: pointer; }
  .card:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1); }

.free-material {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto; }
  .free-material-body {
    text-align: center; }

.video-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px; }

.video-example {
  flex-grow: 1;
  height: 320px;
  padding: 10px; }

.exercise-example {
  margin: 10px; }

.pdf-example {
  width: 100%;
  height: 500px; }
