 @media screen and (max-width: 768px) {
    .grid-container {
      display: grid;
      grid-template-columns: auto;
    }
    .sidebar {
      display:none;      
    }
    .content {
      grid-column: 1 / 2;
      height: 100%;
    }
  }
  @media screen and (min-width: 768px) {
    .content {
      grid-column: 2 / 4;
      height: 1000px;
    }
    .grid-container {
      display: grid;
      grid-template-columns: 20% auto;
    }
  }
  body {
    background-color: white;
  }
  p {
    color: black;
  }
  footer {
    grid-column: 1 / 2;
    background-color: black;
    color: white;
    text-align: center;
    flex-shrink: 0;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .foot {
    color: white;
  }
  .header {
    background-color: #48639c;
    color: white;
    text-align: center;
    padding: 10px;
  }
  .body {
    text-align: center;
    height: 50%;
  }
  .top-menu {
    padding: 40px;
  }
  .top-menu-item {
    color: blueviolet;
    text-decoration: none;
  }
  .top-menu-item-login {
    background-color: white; 
    border-radius: 15px;
    border-color: blueviolet;
    color: blueviolet;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
  }
  .top-menu-item-signup {
    background-color: blueviolet; 
    border-radius: 15px;
    border-color: blueviolet;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
  }
  .active {
    font-weight: bold;
  }
  .left-menu-button {
    margin: 0 !important;
    float: left;
  }
  .log-in{
    margin: 0;
    margin-right: -15px;
    float: right !important;
  }
  .main-container {
    margin-right: 8%;
    margin-left: 8%;
    margin-bottom: 70px;
  }
  .title-aboutus {
    text-align: left;
    background:  url(images/home10.jpg) no-repeat;
    height: 100px;
    padding: 20px;
    font-size: 50px;
    color: black;
  }
  .au-text {
    margin-left: 5%;
    margin-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 1.8;
  }
  #contact-form {
    width: 280px;
    margin: 0 auto;
    background-color: blueviolet;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
    font-family: sans-serif;
  }
  #contact-form input {
    margin-bottom: 15px;
  }
  #contact-form input[type=text] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
  }
  #contact-form input[type=email] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
  }
  #contact-form h2{
    text-align: center;
    margin-bottom: 30px;
    color: white;
  }
  #contact-form button[type=submit] {
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;
    
    background: #207cca; /* Old browsers */
    background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #207cca 0%,#9f58a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #207cca 0%,#9f58a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 ); /* IE6-9 */
  }
  .free-material {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
 .free-material-body {
  text-align: center;
 }
 .video-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding-left: 10px;
   padding-right: 10px;
 }
 .video-example {
  flex-grow:1;
  height: 320px;
  padding: 10px;
 }
 .exercise-example {
   margin: 10px;
 }
 .pdf-example {
  width: 100%;
  height: 500px;
 }
.nav-link-color {
  color: #9f58a3 !important;
}
.carousel-item-color {
  color: white;
}
.toggler-color {
  background-color: #9f58a3 !important;
}
.card:hover{
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
}
.card{
  transition: all 0.2s ease;
  cursor: pointer;
}