footer {
    grid-column: 1 / 2;
    background-color: black;
    color: white;
    text-align: center;
    flex-shrink: 0;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
 .footer-index {
    grid-column: 1 / 4;
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
  .foot {
    color: white;
  }